@import "tailwindcss";


@font-face {
  font-family: "Gotham";
  src: url("/font/GOTHAM-BOLD.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/font/Gotham-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/font/Gotham-Medium.otf") format("opentype");
  font-weight: 350;
  font-style: normal;
}


@font-face {
  font-family: "Gotham";
  src: url("/font/Gotham-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Gotham";
  src: url("/font/Gotham-BoldItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("/font/Gotham-BoldItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Example fallback stack */
body {
  font-family: "Gotham", "Montserrat", "Poppins", sans-serif;
}
